Source: meshify-client
Section: net
Priority: optional
Maintainer: Alan Graham <alan@meshify.app>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               dh-systemd (>= 1.5),
               golang,
               pkg-config
Standards-Version: 3.9.8
Vcs-Git: git@github.com:meshify-app/meshify-client.git
Vcs-Browser: https://github.com/meshify-app/meshify-client

Package: meshify-client
Architecture: amd64
Depends: lsb-base (>= 4.1),
         ${shlibs:Depends}
Description: meshify-client manages wireguard connections for the meshify control plane

